.card1 {
    cursor: pointer;
    transition: .2s all;
    background-color: #cddc263a;
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.card1:hover {
   transform: translateY(-5px);
   border-bottom: green 5px inset;
}

.notes {
    background-image: url('https://framerusercontent.com/images/GFiKV1qSfNcXOGRALvHc0l4UX0U.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: #BBC3D5;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 50.0488px 41.2345px rgba(0, 0, 0, 0.0532233), 0px 30.1471px 24.8353px rgba(0, 0, 0, 0.0456112), 0px 19.3198px 15.522px rgba(0, 0, 0, 0.0399626), 0px 12.5216px 9.63909px rgba(0, 0, 0, 0.035), 0px 7.88218px 5.72858px rgba(0, 0, 0, 0.0300374), 0px 4.5288px 3.06551px rgba(0, 0, 0, 0.0243888), 0px 1.99324px 1.24005px rgba(0, 0, 0, 0.0167767);
}

.nav-link {
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.nav-active {
    background-color: #E2CEBC
}

nav {
    position: fixed;
    top: 0%;
    width: 100%;
}

.header-image {
    background-image: url("https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#header-person {
    animation: move-up-and-down 3s ease-in-out infinite;
    box-shadow: 4px 5px 20px 0px;
}

@keyframes move-up-and-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.ss {
    margin:10px;
    max-width: 300px;
}

.addiconbotton-notes {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}
.addiconbotton-notes p {
    padding:10px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: large;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
}

#notesdata {
    max-height: 500px;
    overflow-y: scroll;
}


.bg {
    background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}


.addnotes-div1 {
    height: 90vh;
    padding: 10px;
    color: white;
}