.card1 {
    cursor: pointer;
    transition: .2s all;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    padding: 10px;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid white;
}

.card1 div h6 {
    color: yellow;
}

.card1:hover {
   transform: translateY(-10px);
   border-bottom: rgb(0, 0, 0) 10px inset;
}

.notes {
background-color: #f8f9fa;
}

.navbar {
    background-color: #BBC3D5;
}

.nav-link {
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.nav-active {
    background-color: #E2CEBC
}

nav {
    position: fixed;
    top: 0%;
    width: 100%;
}

.header-image {
    background-image: url("https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#header-person {
    animation: move-up-and-down 3s ease-in-out infinite;
    box-shadow: 4px 5px 20px 0px;
}

@keyframes move-up-and-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.ss {
    margin:10px;
    max-width: 300px;
}

.addiconbotton-notes {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}
.addiconbotton-notes p {
    padding:10px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: large;
    background-color: rgb(94, 5, 5);
    text-align: center;
    color: white;
}

#notesdata {
    max-height: 500px;
    overflow-y: scroll;
}

#lecss {
    max-height: 500px;
    overflow-y: scroll;
}


.bg {
    background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}


.addnotes-div1 {
    height: 90vh;
    padding: 10px;
    color: white;
}

#notes-filter-dept {
    width: 100px;
    margin: 10px;
}


#notes-filter-sem {
    width: 100px;
    margin: 10px;
}

.p-bottom {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 20px;
    justify-content: space-between;
    width:100%;
    flex-direction: row;
}

#lecss {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.card-team {
    width: 18rem;
    text-align: center;
    border: none;
    transition: .4s all;
}


.card-team:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 1px 2px 10px 1px grey;
}

iframe {
    box-sizing: content-box;
}